<!--если это выбранный пункт, то рисуем его плюс его детей-->
{% if item is active_item %}
  <li class="active">
      <a href="{{ item.url }}">{{ item.title }}</a>
  </li>
      {% if item.has_children %}
        <ul>
        {% for child in item.get_first_children %}
            <li>
                <a href="{{ child.url }}">{{ child.title }}</a>
            </li>
        {% endfor %}
        </ul>
      {% endif %}
<!--если нет, то рекурсивно отрисовываем пункты меню -->
{% else %}
  <li><a href="{{ item.url }}">{{ item.title }}</a></li>
        {% if item.has_children %}
        <ul>
            {% for child in item.get_first_children %}
                {% include 'menu_item.html' with item=child %}
            {% endfor %}
        </ul>
        {% endif %}
{% endif %}